* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 22.4vw;
  background-color: #fff;
}
header .top {
  display: flex;
  justify-content: space-between;
  height: 11.73333333vw;
  padding-left: 4.8vw;
  padding-right: 3.2vw;
  line-height: 11.73333333vw;
}
header .top .left .iconfont {
  font-size: 7vw;
  color: #fb7299;
}
header .top .right {
  display: flex;
}
header .top .right .iconfont {
  font-size: 5.86666667vw;
  color: #ccc;
}
header .top .right .login {
  width: 6.4vw;
  height: 6.4vw;
  margin-left: 6.4vw;
}
header .top .right .download {
  width: 19.73333333vw;
  height: 6.4vw;
  margin-left: 6.4vw;
}
header .bottom {
  display: flex;
  justify-content: space-between;
  height: 10.66666667vw;
  border-bottom: 1px solid #eee;
}
header .bottom .nav ul {
  display: flex;
}
header .bottom .nav ul li {
  padding: 0 4.26666667vw;
}
header .bottom .nav ul li a {
  display: block;
  height: 10.13333333vw;
  font-size: 3.73333333vw;
  line-height: 10.13333333vw;
}
header .bottom .nav ul li a.current {
  color: #fb7299;
  border-bottom: 2px solid #fb7299;
}
header .bottom .more a {
  display: block;
  width: 10.66666667vw;
  height: 10.66666667vw;
  line-height: 10.66666667vw;
  text-align: center;
  color: #ccc;
}
header .bottom .more a i.iconfont {
  font-size: 5.86666667vw;
}
.main {
  padding: 22.4vw 1.33333333vw 0;
}
.main .list {
  display: flex;
  flex-wrap: wrap;
}
.main .list a {
  width: 50%;
  padding: 2.13333333vw 1.33333333vw;
  font-size: 3.2vw;
}
.main .list a .pic {
  position: relative;
}
.main .list a .pic .mask {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2.13333333vw;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  color: #fff;
}
.main .list a .txt {
  margin-top: 1.33333333vw;
}
.btn {
  position: fixed;
  left: 0;
  bottom: 8vw;
  width: 100%;
  padding: 3.2vw;
}
.btn a {
  display: block;
  height: 9.6vw;
  border-radius: 4.8vw;
  background-color: #fb7299;
  text-align: center;
  line-height: 9.6vw;
  color: #fff;
  font-size: 3.73333333vw;
}
